{% extends 'base.html' %}


{% block title %} Contact Management | Add Contact {% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center; color: blue;" class="m-6">Create a Contact</h1>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
    <form method="POST">
            {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="btn btn-primary" style="color: white;">Create Contact</button>
        <a href="{% url 'landing_page' %}" class="btn btn-outline-secondary"  >Cancel</a>
      </form>
</div>

{% endblock %}