{% extends 'base.html' %}


{% block title %} Contact Management {% endblock %}

{% block content %}
<h1 style="text-align: center; color: blue">Contact Management</h1>

<div style="display: flex; justify-content: left;">
    <a href="{% url 'contact_add' %}" type="button" style="color: white; text-decoration: none;" class="btn btn-primary">Create a New Contact</a>
</div>

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 20px;">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}

<div style="display: flex; justify-content: center;">
    <table class="table m-3" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Contact Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created Time</th>
          </tr>
        </thead>
                <tbody>
          {% if all_contacts %}
            {% for contact in all_contacts %}
              <tr>
                <td><a href="{% url 'show_details' contact.id %}" style="text-decoration: none;">{{contact.contact_name}}</a></td>
                <td>{{contact.contact_email}}</td>
                <td>{{contact.created_time}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
      </table>
</div>
{% endblock %}