{% extends 'base.html' %}

{% block title %} Contact Management {% endblock %}

{% block content %}
<h1 style="text-align: center; color: blue">Contact Management</h1>
<div style="display: flex; justify-content: left;">
    <a href="{% url 'contact_add' %}" type="button" style="color: white; text-decoration: none;" class="btn btn-primary">Create a New Contact</a>
</div>
<div style="display: flex; justify-content: center;">
    <table class="table m-3" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Contact Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created Time</th>
          </tr>
        </thead>

      </table>
</div>
{% endblock %}