{% extends 'base.html' %}

{% block title %} Contact Management | Details {% endblock %}

{% block content %}

<h1 style="text-align: center; color: blue;" class="m-5">{% block header %}Contact Details{% endblock %}</h1>
<div style="display: flex; justify-content: left;">
    <div style="display: grid; grid-template-columns: 150px auto;">
        <h5>Name: </h5><h5 style="margin-left: 5%">{{ curr_contact.contact_name }}</h5>
        <h5>E-mail: </h5> <h5 style="margin-left: 5%">{{ curr_contact.contact_email }}</h5>
        <h5>Notes: </h5> <h5 style="margin-left: 5%">{{ curr_contact.contact_notes }}</h5>
        <h5>Created Time: </h5> <h5 style="margin-left: 5%">{{ curr_contact.created_time }}</h5>
    </div>
</div>
<div >
    <button onclick="window.location.href = '/'" class="btn btn-primary" >Home</button>
    <a class="btn btn-warning" href="{% url 'update' curr_contact.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'delete_contact' curr_contact.id %}">Delete</a>

</div>

{% endblock %}